.container-dashboard{
    margin: 0;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items:flex-start;
}
app-dashboard-result, app-dashboard-upcoming{
    /* width: 100%; */
}
@media screen and (max-width: 986px) {
    .container-dashboard{
        flex-direction: column;
    }
    app-dashboard-result, app-dashboard-upcoming{
        width: 100%;
    }
    app-dashboard-upcoming{
        margin-top: 2em;
    }
}
