<div class="formContent">
  <h2>Formulaire de contact</h2>
  <p>Merci de remplir tous les champs</p>
  <form action="">
    <div class="box-form">
      <div class="inputs-container">
        <div class="input-effect">
          <input type="text" class="effect focus-bg" placeholder="Nom">
          <label for="">Nom</label>
        </div>
        <div class="input-effect ">
          <input type="text" class="effect focus-bg" placeholder="Prénom">
          <label for="">Prénom</label>
        </div>
      </div>
      <div class="inputs-container">
        <div class="input-effect">
          <input type="text" class="effect focus-bg" placeholder="Mail">
          <label for="">Mail</label>
        </div>
        <div class="input-effect ">
          <input type="text" class="effect focus-bg" placeholder="Numéro de téléphone">
          <label for="">Numéro de téléphone</label>
        </div>
      </div>
    </div>
    <div class="input-effect mt-5">
        <textarea class="effect focus-bg" name="" id="" rows="5" style="width: 100%; max-width: 100%;" placeholder="Ecrivez votre message"></textarea>
        <label for="">Votre message</label>
      </div>
    <button>Envoyer</button>
  </form>

</div>
