<div class="container-fluid">
    <div class="header-box">
        <img class="bg-desktop" src="/assets/bg-header.png" alt="ball">
        <img class="bg-mobile" src="/assets/bg-header-mobile.jpg" alt="ball">
        <!-- <video muted autoplay preload="auto" src="/assets/ballon.mp4" type="video/mp4"></video> -->
        <div class="header-txt">
            <h1 class="bg-desktop">BASKET BALL <br> BRIVADOIS</h1>
            <h1 class="bg-mobile">BASKET <br>BALL <br> BRIVADOIS</h1>
            <!-- <p class="redColor title">Basket Ball Brivadois</p> -->

        </div>
        <!-- <div>
           
            <button class="cta1">Contact</button>
        </div>
        <div class="jointxt">
             <p>#JOIN<span class="redColor">THE</span>BBB </p>
        </div>
    </div> -->
</div>
