<!-- <div class="d-flex justify-content-center">
    <div id="carouselBBBControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner " >
          <div  class="carousel-item active">
            <img src="{{teams[0].pictures}}" class="d-block w-100" alt="{{teams[0].name}}">
            <span class="span-txt">{{teams[0].name}}</span>
          </div>
          <div class="carousel-item" *ngFor="let r of teams">
            <img src="{{r.pictures}}" class="d-block w-100" alt="{{r.name}}">
            <span class="span-txt">{{r.name}}</span>
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselBBBControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselBBBControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div> -->