<!-- <div *ngIf="!waitingFor" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div> -->
<!-- <div  class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div> -->
  <div class=" p-5 div_img">
    <!-- <div class="d-flex align-items-center justify-content-center p-5 div_img"> -->
        <div class="">
            <img src="assets/ballon_picto_blanc.png" alt="">
        </div>
        <div class="text">
            <h1>BIENVENUE AU BASKET BALL BRIVADOIS</h1>
        </div>
    </div>