<!-- <div *ngFor="let album of albums">
    <p>{{album.titre}}</p>
    <img src="{{album.couverture}}" alt="">
    <p>{{album.total_photos}} photos</p>
    <p>{{album.description}}</p>
</div> -->


<div class="container d-flex justify-content-center p-5">
    <div *ngFor="let album of albums" class="card m-2" style="width: 18rem;">
        <img class="card-img-top" src="{{album.couverture}}" alt="Card image cap">
        <span class="spanNbr">+{{album.total_photos}}</span>
        <div class="card-body">
          <h5 class="card-title">{{album.titre}}</h5>
          <p class="card-text">{{album.description}}</p>
          <button class="cta1">Voir l'album</button>
          <!-- <a href="#" class="btn1">Go somewhere</a> -->
        </div>
      </div>
</div>