  <div class="box-tech">
    <div>
      <h2 class="m-5 fw-bold">EQUIPE <span class="redColor">TECHNIQUE</span> </h2>
    </div>
    <div class="d-flex col-12 flex-wrap justify-content-center">

      <div *ngFor="let m of members">

        <div class="myCard m-2" *ngIf="m.pole === 'TECH'">
          <div class="myCard">
            <div class="imgBx">
              <img *ngIf=" m.img != ''" src="{{m.img}}" class="myCard-img-top" alt="{{m.lastname}}">
              <img *ngIf=" m.img === 'http://localhost:8000/bbb/files/profile-pictures/profile-base.png'" src="assets/logoBBB.png" class="myCard-img-top card__img" alt="{{m.lastname}}">
            </div>
            <div class="contentBx">
              <h3>{{m.nom}} {{m.prenom}}</h3>
              <div class="team>">
                <span>{{m.role|uppercase}}</span>
              </div>
            </div>
  
            <diV class="capacity-box p-1 col-12 ">
              <div class="d-flex flex-column align-items-start ">
                <div class="col-12 m-0 d-flex bg-light align-items-center">

                  <span class="span1 mt-1 text-danger fw-bolder">CAPACITES</span>
                  <!-- <img class="icon" src="assets/circle-solid.svg" alt=""> -->
                  <div class="circle-white" ></div>
                  <div class="circle-red" ></div>
                  <div class="circle-red" ></div>
                </div>
                <div class="d-flex mt-4">
                  <div class="circle-red" ></div>
                  <span class="italic">Passes volantes</span>
                </div>
                <div class="d-flex mt-2 mb-5">
                  <div class="circle-red" ></div>
                  <span class="italic fw-bold">Combot de paniers</span>
                </div>
              </div>

            </diV>
          </div>
        </div>
      </div>
    </div>
  </div>
