<!-- <h2>ENTRAINEMENTS <span class="span-title">ADULTES</span></h2>
<table class="table text-light">
    <thead>
      <tr>
        <th scope="col">Equipe</th>
        <th scope="col">Jour</th>
        <th scope="col">Heure</th>
        <th scope="col">Lieu</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of trainingOld">
        <th scope="row">{{item.category}}</th>
        <td>{{item.day}}</td>
        <td>{{item.startHour}}h{{item.startMinute}}
          / {{item.endHour}}h{{item.endMinute}}
        </td>
        <td>{{item.place}}</td>
      </tr>
    </tbody>
  </table>
<h2 class="mt-5">ENTRAINEMENTS <span class="span-title">JEUNES</span></h2>
<table class="table text-light">
  <thead>
    <tr>
      <th scope="col">Equipe</th>
      <th scope="col">Jour</th>
      <th scope="col">Heure</th>
      <th scope="col">Lieu</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let item of trainingYoung">
        <th scope="row">{{item.category}}</th>
        <td>{{item.day}}</td>
        <td>{{item.startHour}}h{{item.startMinute}}
          / {{item.endHour}}h{{item.endMinute}}
        </td>
        <td>{{item.place}}</td>
      </tr>
    </tbody>
  </table>
<h2 class="mt-5">ENTRAINEMENTS <span class="span-title">MINI</span></h2>
<table class="table text-light">
  <thead>
    <tr>
      <th scope="col">Equipe</th>
      <th scope="col">Jour</th>
      <th scope="col">Heure</th>
      <th scope="col">Lieu</th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let item of trainingMini">
        <th scope="row">{{item.category}}</th>
        <td>{{item.day}}</td>
        <td>{{item.startHour}}h{{item.startMinute}}
          / {{item.endHour}}h{{item.endMinute}}
        </td>
        <td>{{item.place}}</td>
      </tr>
    </tbody>
  </table> -->
  <h2>ENTRAINEMENTS <span class="span-title">BBB</span></h2>
  <table class="table text-dark bg-light">
    <thead>
      <tr>
        <th scope="col">lundi</th>
        <th scope="col">mardi</th>
        <th scope="col">mercredi</th>
        <th scope="col">jeudi</th>
        <th scope="col">vendredi</th>
        <th scope="col">samedi</th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let item of allTraining">

          <td ><span *ngIf="item.day === 'lundi'">{{item.category}}</span></td>
          <td ><span *ngIf="item.day === 'mardi'">{{item.category}} {{item.startHour}}h{{item.startMinute}}
            / {{item.endHour}}h{{item.endMinute}} <br>{{item.place}}</span></td>
          <td ><span *ngIf="item.day === 'mercredi'">{{item.category}} {{item.startHour}}h{{item.startMinute}}
            / {{item.endHour}}h{{item.endMinute}} <br> {{item.place}}</span></td>
          <td ><span *ngIf="item.day === 'jeudi'">{{item.category}} {{item.startHour}}h{{item.startMinute}}
            / {{item.endHour}}h{{item.endMinute}} <br> {{item.place}}</span></td>
          <td ><span *ngIf="item.day === 'vendredi'">{{item.category}} {{item.startHour}}h{{item.startMinute}}
            / {{item.endHour}}h{{item.endMinute}} <br> {{item.place}}</span></td>
          <td ><span *ngIf="item.day === 'samedi'">{{item.category}}  {{item.startHour}}h{{item.startMinute}}
            / {{item.endHour}}h{{item.endMinute}} <br> {{item.place}}</span></td>
          
        </tr>
      </tbody>
    </table>