       <h2 class="mt-3">ENTRAINEMENTS <span class="redColor mb-5">BBB</span></h2>

       <div class="wrapper mt-5">
         <main>
           <table>
             <tr>
               <th>Jours</th>
               <th *ngFor="let salle of salles" class="calendar__place">{{salle}}</th>
             </tr>
             <tr *ngFor="let day of days" class="border">
               <td>
                 <ng-container *ngIf="day.name === 'LU'">Lundi</ng-container>
                 <ng-container *ngIf="day.name === 'MA'">Mardi</ng-container>
                 <ng-container *ngIf="day.name === 'ME'">Mercredi</ng-container>
                 <ng-container *ngIf="day.name === 'JE'">Jeudi</ng-container>
                 <ng-container *ngIf="day.name === 'VE'">Vendredi</ng-container>
                 <ng-container *ngIf="day.name === 'SA'">Samedi</ng-container>
                 <ng-container *ngIf="day.name === 'DI'">Dimanche</ng-container>
               </td>
               <td *ngFor="let salle of salles">
                 <div class="calendar__info day fs-12" *ngFor="let training of day.trainings | trainingFilter:salle"
                   [class.selected]="selected === training.equipe.nom">
                   <span class="redColor fw-bold">{{training.equipe.nom}} </span><br>
                   {{training.debut | timeFormat}} - {{training.fin | timeFormat}}
                 </div>
               </td>
             </tr>
           </table>


         </main>
