<div class="d-flex justify-content-center d-flex">
    <div id="map"></div>
    <div class="infos-text">
        <div class="infos-price">
            <h1>Rejoindre le BBB</h1>
            <p>Tarifs des licences</p>
            <ul>
                <li>Nom de la catégorie : prix </li>
                <li>Nom de la catégorie : prix </li>
                <li>Nom de la catégorie : prix </li>
            </ul>
            <p>Possibilités règlement(paiement en plusieurs fois) <br>
            <span>Pour plus de renseignements <a href="/contact">contactez nous</a>  </span></p>
        </div>
        <div class="infos-access">
            <h2>Accès</h2>
            <ul>
                <li>Lycée Lafayette <br> Avenue Cochet de Saint-Vallier <br>43100 BRIOUDE</li>
                <li>Halle des sports <br> Avenue Cochet de Saint-Vallier <br>43100 BRIOUDE</li>
                <li>Gymnase et salle polyvalente <br> Rue de la Croix Saint-Isidore <br>43100 BRIOUDE</li>
            </ul>
        </div>
    </div>
</div>