<div class="navbar">
  <div class="cont-logo">
    <img src="assets/logoBBB.png" alt="logo basket ball brioude" class="logo">
    <img *ngIf="menuCloseMobile == false" (click)="menuCloseMobile=true "  class="logo-menu-img" src="assets/menu.svg" alt="menu logo">
    <img *ngIf="menuCloseMobile == true" (click)="menuCloseMobile=false " class="close-menu-img" src="assets/close.svg" alt="menu logo">
  </div>

  <div class="cont-items "[ngClass]="{'responsive': menuCloseMobile === true}">
    <a href="" class="items" ><img *ngIf="menuCloseMobile == true"src="assets/logoBBB.png" alt="logo basket ball brioude" class="logo-items"></a>
    <a href="" class="items" >ACCUEIL</a>
    <a href="" class="items">LE CLUB</a>
    <a href="" class="items" [routerLink]="['/section']" [queryParams]="{ id: 1}">ECOLE DE BASKET</a>
    <a href="" class="items" [routerLink]="['/section-jeunes']" [queryParams]="{ id: 2}">JEUNE</a>
    <a href="" class="items" [routerLink]="['/section-adultes']" [queryParams]="{ id: 3}">SENIOR</a>
    <a href="" class="items ">BOUTIQUE</a>
  </div>



</div>

