
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}
h2{
  font-family: 'Poppins';
  font-size: 40px;
  color:rgb(50, 58, 69);
}
.logo{
    max-width: 300px;
}
.carousel{
    border: none;
    max-width: 40vw;
    margin-bottom: 5em;
    position: relative;
} 
.carousel:before{
  background-color:  #232323;
  overflow: hidden;
    content: '';
  position: absolute;
  top: -10%;
  left: -10%;
  right: 10%;
  width: 120%;
  height: 120%;

  
  /* background: url(/assets/icon-ball.svg) no-repeat center; */
}
.test:before{
  content: '';
  position: absolute;
  top: -10%;
  right: -10%;
  width: 70%;
  height: 70%;
  background: var(--redColor);
  clip-path: circle(150px at 80% 20%);
  opacity:0.7;
  /* z-index: 2; */

}
.test:after{
  color: white;
    content: 'BBB';
  position: absolute;
  bottom: -13%;
  left: -5%;
  font-size: 5em;
  font-weight: 800;
  font-style: italic;
  opacity: 0.2;
  letter-spacing: 0.1em;

  /* background: url(/assets/icon-ball.svg) no-repeat center; */
}
.carousel-item{
    position: relative;
}
.span-txt{
    background-color: var(--redColor);
    position: absolute;
    top: 0%;;
    left: 0%;
    /* z-index: 2; */
    color: white;
    border-radius: 8px;
    padding: 0.5em;
    /* opacity: 0.7; */
}
img{
     border-radius: 10%;
    object-fit: cover;
}

@media screen and (max-width: 995px){
  .carousel{
    max-width: 70vw;
  }
  .content-box{
    margin-left: 1em;
  }
}